:root {
    --color-tite: #25282B;
    --color-text: #52572C;
    --color-inactive: #A0A4A8;
    --color-input: #CACCCF;
    --color-active: #2AC769;
    --color-drop-link: #3398FF;
    --color-links: #0000EE;
    --color-hover: #FFC836;
    --color-withe: #FFF;
}