.LinkCard {
    width: 300px;
    margin: 40px;
    padding: 10px 20px;
    border-bottom: 5px solid var(--color-inactive);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &:hover {
        border-bottom: 5px solid var(--color-hover);
    }

    &-title {
        cursor: pointer;
        h1 {
            font-size: 1.5rem;
            .LinkCard-arrow {
                float: right;
            }

            i {
                font-size: 1.8rem;
            }
        }
    }

    &-list {
        margin: 25px 0;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                margin-bottom: 20px;

                a, a:hover, a:active {
                    color: var(--color-links)
                }
            }
        }

        &-item {
            font-weight:500;
        }

        &-icon {
            margin: 0 0 0 20px;
            color: var(--color-text);
            float: right;
            cursor: pointer;
        }

        &-footer {
            text-align: center;
            padding-top: 20px;
            border-top: 1px solid var(--color-input);

            &-editbutton {
                background-color: var(--color-drop-link);
                color: var(--color-withe);
            }

            &-deletebutton {
                background-color: var(--color-red);
                color: var(--color-withe);
            }
        }
    }

}

.active {
    border-bottom: 5px solid var(--color-hover);
}
