.Main {
    padding: 60px;
    margin: 0 auto;

    &-tools {
        width: 80%;
        text-align: center;
        margin: 0 auto;

        &-input-icons {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;

            input[type=text] {
                width: 600px;
                padding: 12px 20px;
                margin: 8px 20px;
                box-sizing: border-box;
                border-radius: 10px;
                flex-grow: 2;
            }

            input[type=text]:focus {
                border-radius: 10px;
            }
        }
    }

    .Main-items {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    input:focus,button:focus {
        outline: none;
}

}

