.Main {
    padding: 60px;
    margin: 0 auto;

    &-tools {
        width: 80%;
        text-align: center;
        margin: 0 auto;

        &-input-icons {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;

            input[type=text] {
                width: 600px;
                padding: 12px 20px;
                margin: 8px 20px;
                box-sizing: border-box;
                border-radius: 10px;
                flex-grow: 2;
            }

            button {
                margin: 0 20px;
                padding: 10px;
                border: 0;
                box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
                -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
                -webkit-border-radius: 5px;
                -moz-border-radius-topleft: 5px;
                border-radius: 5px;
                flex-grow: 1;
                background: #FFF;
                font-weight: 600;
                font-size: 20px;
                color: var(--color-tite);
            }
        }
    }

    .Main-items {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

